$corange: #e45028;
$cyellow: #f9b43b;
$cdark: #2f3234;
$cwhite: #fff;
$ctext: #6a6969;
$gfont: 'gagalin';
$lhfont: 'lifehack';
$cgray: #515151;
$lighten: #2f3234;


// screen width

$tablets: 768px;
$phones: 480px;