.burger {
	background: url('../img/background/video-bg.png') center center no-repeat;
	background-size: cover;
	background-color: rgba(0,0,0,0.31);
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	height: 100vh;
	min-height: rem(650px);
}

.header {
	width: 100%;
	height: rem(83px);
	display: flex;
	align-items: center;

	@include tablets {
		justify-content: space-between;
	}

	@include phones {
		justify-content: space-between;
	}

	@include iphone {
		justify-content: space-between;
	}
}

.header__menu {
	display: flex;
	align-items: center;
	margin-left: auto;

	@include tablets {
		display: none;
	}
}

.header__img {
	display: block;
	margin-right: auto;
	margin-left: rem(1px);
	margin-bottom: rem(1px);
	max-width: 100%;

	@include tablets {
		margin-top: rem(10px);
	}

	@include phones {
		margin-top: rem(10px);
	}

	@include iphone {
		margin-top: rem(40px);
	}
}

.header__btn {

	@include tablets {
		margin-left: auto;
		margin-right: rem(30px);
	}

	@include phones {
		margin-right: rem(30px);
		}
}

.nav {
	margin-right: 2.9375rem;
}

.nav__list {
	display: flex;
	margin-bottom: rem(-2px);
	margin-right: rem(-33px);
}

.nav__items {
	white-space: nowrap;
	margin-bottom: rem(5px);

	&:last-child {
		.nav__link:after {
			display: none;
		}
	}
}


.nav__link {
	text-decoration: none;
	text-transform: uppercase;
	font-size: rem(13px);
	font-style: 'ubuntu';
	font-weight: 500;
	color: #fff;
	transition: .2s;
	display: flex;
	align-items: center;
	

	&:after {
		content: "";
		display: block;
		width: rem(4px);
		height: rem(4px);
		border-radius: 50%;
		background-color: #fff;
		margin: 0 rem(16px);
	}

	&:hover {
		text-decoration: underline;
		color: $corange;
		transition: .2s;
	}
}

.order-link {
	min-width: rem(98px);
	padding: rem(10px) rem(15px);
	border-radius: rem(5px);
	background-color: $corange;
	text-decoration: none;
	color: $cwhite;
	font-size: rem(13px);
	text-transform: uppercase;
	transition: .6s;
	font-weight: 500;
	display: inline-block;

	&:hover {
		background-color: darken($corange, 7%);
	}
}		

.header__burger-btn {
	background: url('../img/content/hdr-burg.png') center center no-repeat;
	display: none;
	cursor: pointer;
	width: rem(24px);
	height: rem(24px);
	
	@include tablets {
		display: block;
	}

	@include phones {
		display: block;
	}
}								



// burger-content

.content {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;

	@include tablets {
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}

	@include phones {
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		font-size: rem(63px);
		transform: translateY(15%);
	}

	@include iphone {
		transform: translateY(15%);
	}

}

.burger__container {
	display: flex;
	flex: 1;

	@include tablets {
		flex-direction: column;
		align-items: center;
	}


}

.content__img {
	display: block;
	max-width: 100%;
}

.content__burger {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	@include tablets {
		width: 50%;
	}
}

.content__text {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	@include tablets {
		text-align: center;
		padding-bottom: rem(230px);
	}

	@include phones {
		font-size: rem(63px);
	}
}

.section-title {
	font-size: rem(72px);
	color: $cyellow;
	font-family: $gfont;

	@include tablets {
		margin-bottom: 0;
		white-space: nowrap;
	}

	@include phones {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.content__desc {
	font-family: $lhfont;
	color: $cwhite;
	font-size: rem(65px);
	line-height: .9;
	padding-left: rem(44px);

	@include tablets {
		margin-bottom: 0;
		flex-wrap: wrap;
		display: flex;
		width: rem(400px);
		padding-left: 0;
		padding-bottom: rem(50px);
	}

	@include phones {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	@include iphone {
		
	}

}

.arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .4s;
	line-height: 2;
	padding-bottom: rem(50px);

	@include tablets {
	}
}

.arrow__link-img {
	width: rem(30px);
	height: rem(15px);
	fill: #fff;
}

.arrow__link {

	&:hover {
		transform: scale(1.2);
		transition: all .4s;
	}

	@include tablets {
		display: flex;
		justify-content: center;
		align-items: center;
	}

}

.fixed-menu { // ul - column
	position: fixed;
	top: 5.625rem;
	right: 3.125rem;

	@include tablets {
		display: none;
	}

	@include phones {
		display: none;
	}
}

.fixed-menu__item {
	margin-bottom: rem(13px);
}

.fixed-menu__link {
	position: relative;
	display: block;
	width: rem(16px);
	height: rem(16px);

	&:before {
		position: absolute;
		content: "";
		width: rem(6px);
		height: rem(6px);
		border-radius: 50%;
		background-color: #fff;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&:after {
		position: absolute;
		content: "";
		border: rem(1px) solid #fff;
		width: rem(16px);
		height: rem(16px);
		border-radius: 50%;

	}
}

.fixed-menu__link {
	&:after {
		opacity: 0;
		transition: all .4s;
	}

	&:hover:after {
		opacity: 1;
		transition: all .4s;
	}
}

.fixed-menu__link--active {
	&:after {
		opacity: 1;
	}
}
