.burger-slider {
	width: 100%;
	height: 100vh;
	min-height: rem(650px);
	overflow: hidden;
	background-color: #ed9439;
	background-repeat: no-repeat;
	background-size: cover;
	background: linear-gradient(0deg, #f9b43b 0%, #eb8c38 47%, #f9b43b 73%);
	display: flex;
	align-items: center;
}

.content {
	@include tablets {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	}
}


.container-slider {
	flex: 1;
	@include phones {
		width: 95%;
	}

	@include tablets {

	}
}

.burger-content {
	display: flex;

		@include tablets {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		@include phones {
		
		}


	}

.burger__black-star {
	width: rem(460px);
	height: rem(320px);
}

.burger__compound {
	width: rem(90px);
	height: rem(90px);
	background-color: #f08c33;
	border-radius: rem(8px);
	cursor: pointer;
	position: relative;
	box-shadow: 3px 3px 10px rgba(0,0,0,.7);
	transition: .6s;

	&:hover {
		transition: .6s;
		background-color: #E25028;
	}

	@include tablets {
		position: absolute;
		left: 0;
		top: 0;
	}

	@include phones {
		position: absolute;
		left: 0;
		top: 50%;
	}
}

.burger__list {
	width: rem(270px);
	height: rem(330px);
	background: rgba(255, 255, 255, .9);
	position: absolute;
	padding: rem(20px);
	border-radius: 6px;
	top: 0;
	left: rem(-9999px);
	opacity: 0;
	transition: opacity .6s; 
}

.burger__compound:hover .burger__list {
	top: 0;
	left: rem(90px);
	opacity: 1;
}

.burger__link {
	min-width: rem(98px);
	padding: rem(10px) rem(15px);
	border-radius: rem(5px);
	background-color: $corange;
	text-decoration: none;
	color: $cwhite;
	font-size: rem(13px);
	text-transform: uppercase;
	transition: .6s;
	font-weight: 500;
	display: inline-block;

	&:hover {
		background: darken($corange, 7%);
	}
}

.burger__pic {
	width: rem(38px);
	height: rem(35px);
	fill: #e25028;
}

.burger__name-item {
	color: #3d3f40;
	@include ubuntu();
	font-size: rem(14px);
}

.burger__weight {
	color: #3d3f40;
	@include ubuntu();
	font-size: rem(14px);
}

.burger__items {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-bottom: rem(17px);

	&:last-child {
		padding-bottom: 0;
	}
}

.burger__pic-yellow {
	fill: #f7b94a;
}

.burger__pic-salad {
	fill: #8ac03e;
}

.burger__pic-cucumber {
	fill: #8ac03e;
}

.burger__pic-cheese {
	fill: #f7b94a;
}

// end of the drop-down menu

.burger__svg {
	width: rem(44px);
	height: rem(42px);
	fill: #fff;
}

.burger__text {
	color: #fff;
	@include gagalin();
	font-size: rem(14px);
	text-align: center;
	letter-spacing: rem(1px);
	padding-top: rem(10px);
}

.burger__svg-pic {
	width: rem(60px);
	height: rem(60px);
	fill: #fff;
	opacity: .5;
}

.burger__text-nutrition {
	font-size: rem(14px);
	@include gagalin();
	opacity: 0.5;
	color: #fff;
	display: flex;
	justify-content: center;
	width: rem(60px);
}

.burger__nutrition {
	font-size: rem(20px);
	@include gagalin();
	opacity: .5;
	color: #fff;
	position: absolute;
	top: 86%;
	left: 1.5%;


	@include tablets {
		top: 32%;
		left: 22%;
	}
}

.burger__img {
	max-width: 100%;
}

.burger__right-section {
	display: flex;
	flex-direction: column;

	@include tablets {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.burger__title {
	font-size: rem(72px);
	@include gagalin();
	color: #fff;
	line-height: 1;
	padding-bottom: rem(50px);

	@include tablets {
		padding-bottom: 0;
		text-align: center;
		font-size: rem(71px);
	}

	@include phones {
		font-size: 3.4375rem;
	}
}

.burger__desc p {
	font-size: rem(14px);
	color: #fff;
	font-family: 'ubuntu', Arial, Helvetica, sans-serif;
	font-weight: 100;
	padding-bottom: rem(35px);

	@include tablets {
		padding-bottom: 0;
		text-align: center;
	}
}

.burger__price {
	display: flex;
	align-items: baseline;

	@include tablets {
		line-height: 1.42;
	}
}

.burger__revenue {
	@include gagalin();
	font-size: rem(72px);
	color: #e35028;
	padding-right: rem(10px);
}

.burger__ruble {
	@include gagalin();
	font-size: rem(30px);
	color: #e35028;
	padding-right: 30px;
}


.burger__arrow-link {
	display: block;
}

.burger__arrow-link {
	fill: #fff;
}

.burger__arrow-left-img {
	fill: #fff;
	width: rem(25px);
	height: rem(28px);
	transform: rotate(90deg);
	position: absolute;
	top: 59%;
	left: rem(-40px);

	@include tablets {
		top: 100%;
		left: rem(22px);
	}

	@include phones {
		top: 99%;
	}
}

.burger__arrow-left {
	width: rem(15px);
	height: rem(15px);
}

.burger__arrow-left-pic {
	fill: #fff;
	width: rem(25px);
	height: rem(28px)s;
	transform: rotate(-90deg);
	position: absolute;
	right: rem(-35px);
	top: 59%;

	@include tablets {
		top: 100%;
		right: rem(22px);
	}

	@include phones {
		top: 100%;
	}
}

.burger__compound {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@include phones {
		top: 0;
		left: 0;
	}

	@include iphone {
		top: -3.1875rem;
		left: 0;
	}
}

.burger__nutrition-value {
	@include tablets {
		position: absolute;
		top: 0;
		right: 0;
	}

	@include phones {
		right: 5%;
		top: 1%;
	}
	@include iphone {
		right: 0;
		top: rem(-35px);
	}

}